<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Mis Sitios</h1>
  <p>Aplicación de muestra del Tutorial de Ionic 2 – 
    Construye Apps móviles multiplataforma con ionic 2 desde cero.</p>
</ion-content>
